---
layout: default
---

<div class="home">
<!--
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
<div align="center">
  <img src="/images/prem_circle_230x230.png" />
  <br>
  <br>

  <p> My name is <strong>Prem Kumar Murugesan</strong> and i'm a <em>Programmer</em>, an aspiring <em>Computer Scientist</em> pursuing my <strong>M.S. in Computer Science</strong> at <strong>University of North Carolina at Charlotte</strong> </p>


  <p> I obtained my B.E. in <strong>Electronics and Communication Engineering</strong> in 2013 at <br> Anna University, Chennai, India.</p>


</div>


</div>
