---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

	<article class="post-content">
		<div align="center">
			<h4><a href="{{ site.baseurl }}/resume.pdf">Download Resume</a> </h4>
		</div>
		<br>
		<div align="center">
			<hr>
			<br>
			<h3><b>PREM KUMAR MURUGESAN</b></h3>
			9514 Grove Side Lane, 1002 Colonial Grand, Charlotte, NC 28262<br>
			<a href="mailto:pmuruges@uncc.edu">pmuruges@uncc.edu</a> | +1 (704)-957-7640 | <a href="http://iamprem.github.com">iamprem.github.com</a>

		</div>
		<br>

		{{ content }}
		<div align="center">
			<h4><a href="{{ site.baseurl }}/resume.pdf">Download Resume</a> </h4>
		</div>
		<br>
	</article>

</div>
